.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100dvh;
    padding: 80px 0 0 0;
}

@media (width <= 600px) {
    .container {
        padding: 80px 20px 0 20px;
    }
}

#app-version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--color-text-muted);
}
